# Dotfiles config
alias dot='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# Shell config
alias zshrc='$EDITOR ~/.zshrc'
alias e-aliases='$EDITOR ~/.aliases'
alias e-functions='$EDITOR ~/.functions'
alias e-vimrc='$EDITOR ~/.vim/vimrc'
alias reload='exec zsh || true'

case "$OSTYPE" in
  darwin*)
    alias -g ...='../..'
    alias -g ....='../../..'
    alias ls='ls -G' # colorise the output
    alias brew-update='brew update -v; brew upgrade -v; brew cleanup; brew doctor; brew missing;'
    alias cal='echo "Note: using gcal" && gcal -s 1'
    alias pb-pretty='pbpaste | python -m json.tool | pbcopy'
    # workaround for calendar stop syncing with Exchange server
    alias fix-calendar='launchctl stop com.apple.CalendarAgent; launchctl start com.apple.CalendarAgent;'
    ;;

  linux*)
    alias open='xdg-open'
    alias ls='ls --color=auto' # colorise the output
    ;;
esac

# Typos
alias cd..='cd ..'

# List files
alias ll='ls -lah'
alias la='ls -A'
alias grep='grep --color=auto'

# Folders
alias temp='mkdir -p ~/Temp/ && cd ~/Temp/'

# Utility
alias h='history'
alias hgrep='fc -El 0 | grep'
alias batp='bat --paging=always'

# Gradle
alias gr='./gradlew'
alias quality='./gradlew ktlint detekt'
alias ktlint='./gradlew ktlint'
alias detekt='./gradlew detekt'

# ADB
alias akey='adb-key'
alias atext='adb-text'
alias atexte='adb-text-enter'
alias arec='adb-rec'

# Git
alias g='git'
alias ac='git ac'
alias acm='git acm'
alias ga.='git add . && git st'
alias gac='ga. && ac'
alias gcam='git cam'
alias gll='git ll'
alias gd='git diff'
alias gdc='git diff --cached'
alias gls='git ls'
alias gst='git st'
alias lb='git lb'
alias st='gst'
alias next='git rebase --continue'
alias back='git checkout -'
alias fetch='git fetch --all --prune'
alias squash='git rebase -i'
alias checkpoint='git commit -am "Checkpoint"'
alias dall='diffall'
# alias commit='git commit -am'

# VIM Plugins
alias plug-clean='vim +PlugClean +qall'
alias plug-install='vim +PlugUpdate +PlugUpgrade +PlugInstall +qall'
