# Dotfiles config
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'

# Shell config
alias zshrc='$EDITOR ~/.zshrc'
alias e-aliases='$EDITOR ~/.aliases'
alias e-functions='$EDITOR ~/.functions'
alias e-vimrc='$EDITOR ~/.vim/vimrc'
alias reload='source ~/.zshrc || true'

case "$OSTYPE" in
  darwin*)
    alias -g ...='../..'
    alias -g ....='../../..'
    alias ls='ls -G' # colorise the output
    alias brew-update='brew update -v; brew upgrade -v; brew cleanup; brew doctor; brew missing;'
    alias cal='echo "Note: using gcal" && gcal -s 1'
    ;;

  linux*)
    alias open='xdg-open'
    alias ls='ls --color=auto' # colorise the output
    ;;
esac

# Typos
alias cd..='cd ..'

# List files
alias ll='ls -lah'
alias la='ls -A'
alias grep='grep --color=auto'

# Folders
alias §='cd ~'

# Utility
alias h='history'
alias hgrep='fc -El 0 | grep'
alias batp='bat --paging=always'

# Gradle
alias gr='./gradlew'

# ADB
alias akey='adb-key'
alias atext='adb-text'
alias atexte='adb-text-enter'

# Repo
alias rstart='repo-start'
alias rupload='repo upload . --cbr'
alias rupload-reviewers='repo upload . --cbr --reviewers=$(cat ~/.reviewers)'

# Git
alias g='git'
alias ac='git ac'
alias acm='git acm'
alias ga.='git add .'
alias gac='ga. && ac'
alias gcam='git cam'
alias gll='git ll'
alias gd='git diff'
alias gdc='git diff --cached'
alias gls='git ls'
alias gst='git st'
alias st='gst'
alias next='git rebase --continue'
alias fetch='git fetch --all --prune'
alias squash='git rebase -i'
alias checkpoint='git commit -am "Checkpoint"'

# VIM Plugins
alias plug-clean='vim +PlugClean +qall'
alias plug-install='vim +PlugUpdate +PlugUpgrade +PlugInstall +qall'
