# -------------------------------------------------
# Take a screenshot of the connected device
#
# $1 - filename (optional, default=screenshot.png)
#
# Example: cap before.png
# -------------------------------------------------
cap() {
    filename="${1:-screenshot.png}"

    case $filename in
        *.png|.PNG) ;;
        *) filename="$1.png" ;;
    esac

    # TODO: Make it possible to prefer emulator or real device
    adb exec-out screencap -p > $filename;

    open $filename
}

# -------------------------------------------------
# Tile two or more images into one.
#
# $2-6 - images to tile
#
# Example: tile before.png after.png
# -------------------------------------------------
tile() {
    filename="tile.png"
    case $# in
        2) pattern="2x1" ;;
        3) pattern="3x1" ;;
        4) pattern="4x1" ;;
        5) pattern="3x2" ;;
        6) pattern="3x2" ;;
        *) echo "Unsupported number of images: $#" && return 0 ;;
    esac

    montage -geometry +100+100 \
        -border 2 \
        -bordercolor grey \
        -background grey90 \
        -tile "$pattern" \
        "$@" \
        "$filename"

    open $filename;
}

# -------------------------------------------------
# Echo the contents of a table in Sqlite 
# on a connected device.
#
# $1 - packagename of the app
# $2 - table to echo
#
# Example: echo-table com.demo.app db users
# -------------------------------------------------
echo-table() {
    db="databases/$2"
    query="SELECT * FROM $3;"
    adb exec-out run-as "$1" sqlite3 -echo -header -column "$db" "$query"
}

#
# Dependencies:
#
# adb (android-tools-adb)   - cap, echo-table
# montage (imagemagick)     - tile
#
