[user]
    # These values are set in ~/.gitconfig.local

[include]
    path = ~/.gitconfig.local

[alias]
    ac = commit -a --amend --no-edit
    acm = commit -a --amend --verbose --allow-empty
    cam = commit -am
    com = checkout origin/master
    dom = diff origin/master
    rom = rebase origin/master
    l = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
    lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative | grep 'checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 15 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \t\\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
    ll = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
    ls = log --stat
    st = status
    recent = branch -av --sort=-committerdate
	fc = "!f() { git branch -a | grep -m1 -e ${1}.*${2} | sed \"s/remotes\\/origin\\///\" | xargs git checkout; }; f"
	sco = !sh -c \"git branch -a | grep -v remotes | grep $1 | xargs git checkout\"

[core]
    pager = less -+$LESS -R
    untrackedCache = true

[color]
    ui = auto

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "status"]
    added = yellow
    changed = green
    untracked = cyan

[diff]
	tool = vimdiff

[push]
	default = current
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
