" Inherit the config from regular vim
source ~/.vim/commons.vim

" ------------------
" IdeaVim Options
" ------------------
set idearefactormode=keep       " Keep the mode when renaming
set ideajoin                    " Use IDE join for joining

" ------------------
" Plugins
" ------------------
set commentary                  " Commands: gcc, gc + motion, v_gc
set surround                    " Commands: ys, cs, ds, S
set ReplaceWithRegister         " Commands: gr, gr
set argtextobj                  " Commands: aa, ia
set vim-paragraph-motion        " {} will treat lines with only whitespace as empty

set highlightedyank
set sneak

" Supposed to make ideaVim work better with dialogs.
set ideavimsupport+=singleline

" ------------------
" General Mappings
" ------------------
noremap <leader>n :action Inline<CR>
noremap <leader>m :action ExtractFunction<CR>
noremap <leader>v :action IntroduceVariable<CR>
noremap <leader>f :action FindInPath<CR>
noremap <leader>F :action FindUsages<CR>
noremap <leader>l :action ReformatCode<CR>
noremap <leader>r :action RenameElement<CR>
noremap <leader>t :action Refactorings.QuickListPopupAction<CR>
noremap <leader>o :action GotoFile<CR>
noremap <leader>s :action FileStructurePopup<CR>

noremap <leader>a :action GotoAction<CR>
noremap <leader>e :action RecentFiles<CR>
noremap <leader>E :action RecentLocations<CR>
noremap <leader>g :action GotoNextError<CR>
noremap <leader>G :action GotoPreviousError<CR>
noremap <leader>d :action ShowErrorDescription<CR>
noremap <leader>u :action GotoSuperMethod<CR>
noremap <leader>b :action GotoDeclaration<CR>
noremap <leader>B :action GotoImplementation<CR>
noremap <leader>I :action ImplementMethods<CR>

