" Inherit the config from regular vim
source ~/.vim/commons.vim

" ------------------
" IdeaVim Options
" ------------------
set idearefactormode=keep       " Keep the mode when renaming
set ideajoin                    " Use IDE join for joining

" ------------------
" Plugins
" ------------------
set commentary                  " Commands: gcc, gc + motion, v_gc
set surround                    " Commands: ys, cs, ds, S
set ReplaceWithRegister         " Commands: gr, gr
set argtextobj                  " Commands: aa, ia

let g:EasyMotion_smartcase = 1
set easymotion

set highlightedyank

" Timeout for plugin related commands
" NOTE: Do I really notice any difference with this gone?
" set timeoutlen=1000

nmap <leader><leader> <Plug>(easymotion-s2)gd

" ------------------
" General Mappings
" ------------------
noremap <leader>n :action Inline<CR>
noremap <leader>m :action ExtractFunction<CR>
noremap <leader>v :action IntroduceVariable<CR>
noremap <leader>f :action IntroduceField<CR>
noremap <leader>l :action ReformatCode<CR>
noremap <leader>r :action RenameElement<CR>
noremap <leader>t :action Refactorings.QuickListPopupAction<CR>
noremap <leader>o :action GotoFile<CR>
noremap <leader>s :action FileStructurePopup<CR>

noremap <leader>e :action GotoNextError<CR>
noremap <leader>E :action GotoPreviousError<CR>
noremap <leader>d :action ShowErrorDescription<CR>
noremap <leader>u :action GotoSuperMethod<CR>
noremap <leader>b :action GotoDeclaration<CR>
noremap <leader>B :action GotoImplementation<CR>
noremap <leader>I :action ImplementMethods<CR>

" Moving lines up/down, and elements left/right
nnoremap <A-j> :action MoveStatementDown<CR>
nnoremap <A-k> :action MoveStatementUp<CR>
nnoremap <A-h> :action MoveElementLeft<CR>
nnoremap <A-l> :action MoveElementRight<CR>
inoremap <A-j> <Esc>:action MoveStatementDown<CR>gi
inoremap <A-k> <Esc>:action MoveStatementUp<CR>gi
inoremap <A-h> <Esc>:action MoveElementLeft<CR>gi
inoremap <A-l> <Esc>:action MoveElementRight<CR>gi
vnoremap <A-j> :action MoveStatementDown<CR>
vnoremap <A-k> :action MoveStatementUp<CR>

